@model MVC_CRUD_Machine_Test.Models.Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <table>
        <tr>
            @Html.DisplayNameFor(model => model.ProductId)
        </tr>

        <tr>
            @Html.DisplayFor(model => model.ProductId)
        </tr>
        <br />
        <tr>
            @Html.DisplayNameFor(model => model.ProductName)
        </tr>

        <tr>
            @Html.DisplayFor(model => model.ProductName)
        </tr>
        <br />
        <tr>
            @Html.DisplayNameFor(model => model.CategoryId)
        </tr>

        <tr>
            @Html.DisplayFor(model => model.CategoryId)
        </tr>
        <br />
        <tr>
            @Html.DisplayNameFor(model => model.CategoryName)
        </tr>

        <tr>
            @Html.DisplayFor(model => model.CategoryName)
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
